/* Home Container */
.home-container {
  font-family: 'Arial', sans-serif;
  color: #FFE4C4;
}

/* Hero Section with Background Image */
.hero-section {
  background-image: url('../assets/Home3.jpeg'); 
  background-size: cover;
  background-position: center; 
  height: 90vh; 
  display: flex;
  align-items: center;
  justify-content: start; /* Align content to the left */
  text-align: left; /* Align text to the left */
  position: relative;
  padding-left: 20px; /* Add padding to the left */
}

/* Overlay for better readability */
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Light overlay */
}

/* Hero Content */
.hero-content {
  color: #111;
  text-align: left; /* Align text to the left */
  font-family: "Playfair Display";
  font-size: 70.613px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.84px;
  position: relative;
  z-index: 1;
  margin-top: -250px;
  padding-left: 20px; /* Add padding to the left */
}

.hero-subtitle {
  color: #111;
  text-align: left; /* Align text to the left */
  font-family: "Playfair Display";
  font-size: 70.613px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  position: relative;
  z-index: 1;
  margin-top: -250px;
  padding-left: 0px; /* Add padding to the left */
  
}

/* About Section */
.about-section {
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: -420px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  position: absolute;
  z-index: 2;
  max-width: 800px;
  margin-left: 20px; /* Align to the left */
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #111;
  margin-bottom: 20px;
  text-align: left; /* Align text to the left */
  margin-right: 200px;
}

/* Buttons Container */
.button-container {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 20px;
}

/* Buttons */
.btn-custom-primary-hero {
  padding: 10px 20px;
  border-radius: 119.033px;
  background-color: #FF6347;
  color: var(--Neutral-01, #FFE4C4);
  transition: background-color 0.3s ease;
  border: none;
}

.btn-custom-primary-hero:hover {
  background-color: #1e3a3a; /* Darker shade on hover */
  color: var(--Neutral-01, #FFE4C4);
}

.btn-custom-secondary-hero {
  padding: 10px 20px;
  border-radius: 119.033px;
  background-color: #2F4F4F;
  color: var(--Neutral-01, #FFE4C4);
  transition: background-color 0.3s ease;
  border: none;
}

.btn-custom-secondary-hero:hover {
  color: var(--Neutral-01, #FFE4C4);
  background-color: #FF6347; /* Darker shade on hover */
}